/* App-Owns-Data Lab Styles from Power BI Dev Camp */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    min-height:100%;
    background: #e3f2fd;
}

ul i {  padding-right: 4px; }
h1 {  font-size: 1.35em; }
h2 {  font-size: 1.25em; }
h3 {  font-size: 1.1em; }
h4 {  font-size: 1.0em; }

.mb-3, .my-3 {
  margin-bottom: 0 !important;
}

nav {
  margin-bottom: 0px;
  position: fixed;
  top: 0;
  left:0;
  height:70px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}
nav .logo {
    display:flex;
    align-items:center;
    margin: 0 24px;

}
.logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}
.logo .logo-name {
    color: #333;
    font-size: 24px;
    font-weight: 500;
}

/* Google Fonts - Poppins */




nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

    nav .logo {
        display: flex;
        align-items: center;
        margin: 0 24px;
    }

.logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}

.logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.sidebar-content .list {
    list-style: none;
}

.sidebar-content a .list .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }


.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: #4070f4;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open ~ .overlay {
    opacity: 1;
    left: 261px;
    pointer-events: auto;
}

.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

i {
    margin-right: 4px;
}


#banner {
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron {
  background-color: #EDBE11;
  border: 1px solid #AAA;
  margin-top: 150px;
  margin-left:50px;
}

/* styles for embed page */

#content-box {
  padding-left: 0;
  padding-right: 0;
  border: solid 1px black;
}

#left-nav {
  background-color: black;
  color: white;
  padding: 0;
  border: 1px solid black;
}

#left-nav .navbar-header {
  color: black;
  background-color: #EDBE11;
  padding: 2px;
  padding-left: 4px;
  border-bottom: 1px solid #333333;
  font-size: 14px;
}

#workspace-selector {
  width: 100%;
  padding: 0;
}

#workspace-selector-dropdown {
  padding: 0px;
}

.dropdown-toggle::after {
  position: absolute;
  right: 8px;
  top: 45%;
}

#left-nav .navbar-collapse, #left-nav .dropdown {
  background-color: white;
  color: black;
  padding: 8px;
  font-size: 12px;
  border-bottom: 1px solid #333333;
}

#left-nav .navbar-collapse {
  padding: 8px;
}

#left-nav .dropdown {
  padding: 0px;
}

  #left-nav .dropdown button {
    margin: 0px;
    padding: 4px;
    width: 100%;
    text-align: left;
  }


#embed-container {
  min-height: 480px;
  height: 100%;
}


.no-content {
  font-style: italic;
  margin-left: 16px;
  color: #88AAAA;
}

#embedding-instructions {
  margin: 24px;
  color: #BBBBBB;
}

#embed-toolbar {
  margin-top: -1px;
  background-color: black;
  color: white;
  padding: 4px;
  font-size: 12px;
}

  #embed-toolbar button {
    margin: 0px;
    font-size: 9px;
    font-weight: bold;
    padding: 2px;
    color: #222;
    background-color: #F2C811;
    border-color: #111;
    display: inline;
    float: right;
    margin-left: 8px;
    padding-left: 6px;
    padding-right: 6px;
  }

.workspaces-toolbar {
  background-color: #CCCCCC;
  border: 1px solid #666666;
  border-top-style: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  text-align: left;
}

#create-workspace-button, #back-to-workspaces-button {
  background-color: #F2C811;
  color: black;
  border: 1px solid black;
}

table a.nav-link {
  margin: 0px;
  padding: 4px;
  padding-left: 6px;
  background-color: #F2C811;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}

.create-workspace-fieldset {
  background-color: #EEEEEE;
  border: solid 1px #AAAAAA;
  padding: 24px;
}

  .create-workspace-fieldset legend {
    width: auto;
    padding: 8px;
  }
